.mapPin {
    font-size:large;
    background-color: #3f51b5;
width: 15px;
height: 15px;
border-radius: 100%;
border: 3px solid #fff;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
}

.map-info-box {
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}