.search-bar{
    display:flex;
    align-items:center;
    margin-left:25px;
}

.search-bar-text-field{
    background-color:white;
    border-radius:20px;
}

.search-bar-text-field:focus, input:focus {
    outline:none;
}
