.ImageThumb__photo-container{
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    align-content: flex-start;
    width: 100%;
    
    
}
.ImageThumb__photo{
    display:flex;
    width:300px;
    height:300px;
    margin:5px;
    padding:10px;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}
.ImageContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    width:295px;
    height:295px;
    overflow:hidden;
    border-radius:5px;
}
.thumb-image{
    min-height: 100%;
    min-width: 100%;
    object-fit:cover;
}

.modal-photo-container{
    display:flex;
    flex-direction: column;
}

.modal-image {
    object-fit:scale-down
}

.dialog-modal{
    min-width:80vw;
}

div[highlighted]{
    background-color: red;
}
div[highlighted-blue]{
    background-color: #2e9cca;
    border-radius:10px;
}

.text-location-name{
    font-size: xx-large;
    font-weight: bolder;
    margin-top:20px;
}

.text-location-dates{
    font-style: italic;
}

.noPicZone{
    height: 100%;
    width: auto;
}