.ImageThumb__photo-container{
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    /* height: 75vh; */
    align-content: flex-start;
    width: 100%;
    /* flex:2; */
    
    
}
.ImageThumb__photo{
    display:flex;
    width:300px;
    height:300px;
    padding:10px;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}
.ImageContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    width:295px;
    height:295px;
    overflow:hidden;
    border-radius:5px;
}
.thumb-image{
    min-height: 100%;
    min-width: 100%;
    /* flex-shrink:5px; */
    object-fit:cover;
}

.modal-photo-container{
    display:flex;
    justify-content:center;
}

.modal-image {
    max-height: 75vh;
    /* padding:10px; */
    /* width: auto; */
    /* object-fit:cover; */
}

/* .Home__home-container{
    located in src/index.css
} */

div[highlighted]{
    /* border: 5px solid red; */
    background-color: red;
}
div[highlighted-blue]{
    /* border: 5px solid red; */
    background-color: #2e9cca;
    border-radius:10px;
}
img[highlighted]{
    /* border: 5px solid red; */
    /* border-radius:50%; */
    /* box-shadow: brown; */
}

.text-location-name{
    font-size: xx-large;
    font-weight: bolder;
    margin-top:20px;
}

.text-location-dates{
    font-style: italic;
}

.noPicZone{
    height: 100%;
    width: auto;
}