.allusers-container {
  display: flex;
  flex-flow: row wrap;
  width: auto;
  
}

.peoplecard__container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 275px;
  width: 195px;
  border: 1px solid lightgray;
  border-radius: 10px;
  flex: 1 1 18%;
}

.peoplecard__container {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.peoplecard__container:before,
.peoplecard__container:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 10px;
  bottom: 10px;
  left: 0;
}

.peoplecard__picture img {
  width: 100%;
  height: 195px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.peoplecard__footer {
  padding: 10px 10px;
}

.peoplecard__fullName {
  font-size: 16px;
  font-weight: bold;
}

/* .navButton {
  font-size:x-large;
} */

.Home__home-container {
  background-color: #f8f8ff;
  margin:0;
  padding:0;
  display:flex;
  flex-direction: row;
  height:100vh;
  width:100vw;
}
*{
  margin:0;
  text-decoration: none;
  font-family: 'Inter', sans-serif
}
.pointer {
  cursor: pointer;
  /* padding: 5px; */
}

.navBarWrapper {
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content: flex-start;
  /* margin:15px; */
  /* background-color: #25274d */
}

.navBarCssButton{
  margin-left:25px;
  /* padding:50px; */
}

.navContainer{
  display:flex;
align-items:center;
 justify-content:flex-start;
 flex-wrap:wrap;
 flex-shrink:1;
  /* width:100vw; */
  /* background-color: #29648a; */
}

.logo-image{
  display:flex;
  max-height:125px;
  max-width:125px; 
}

.avatarContainer{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  
}

.profileAvatar {
  display:flex;
  width: 100px;
  height:100px;
  /* overflow: hidden; */
  border-radius:50%;
  overflow:hidden;
  justify-content:center;
  align-items: center;
  margin:10px;
  /* align-self:center; */
}

.avatar-photo {
  height:100%;
  width: auto;
  object-fit: cover;
 

}

.outterNavContainer {
  display:flex;
  position: static;
  width:100vw;
  justify-content:flex-start;
  background-color:#29648a;
  /* background-color: pink; */

}

.welcome-back-text{
  color:white;
  font-size: large;
  font-weight: bold;
  margin-right: 10px;
  display:none;
}

.photo-title-text{
  font-size: large;
  font-weight:bolder;
  padding:10px;
  text-transform: uppercase;
  /* width:300px; */
}

.photo-description-text{
  padding:10px;
}

.photo-date-text{
  padding:10px;
  font-style: italic;
  color: gray;
  font-size: small;
}

.mobile-nav-bar{
  display:none
}

@media only screen and (max-width: 1600px) {
  .Home__home-container{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
  /* .welcome-back-text{
    font-size:small;
  } */
  .logo-image{
    width:75px;
    height:75px;
margin:10px;
  }
  .profileAvatar{
    margin-right:10px;
    height:75px;
    width:75px;
  }
}

@media only screen and (max-width: 850px) {
  #home-nav-button {
    display:none;
  }
  .mobile-nav-bar{
    display:block;
  }
  .navBarCssButton{
    display:none;
  }
  .logo-image{
    margin-bottom:0px
  }
  .searchIcon{
    margin-left: 5px;
    padding:0px;
  }
  .searchForm{
    flex-direction:column
  }
  .ImageThumb__photo{
    width:175px;
    height:175px
  }
}